// ---------------------------------------------------------------------
//    Variables
// ---------------------------------------------------------------------
/* Colors */
$COLOR_PRIMARY: #a3c8e1;
$COLOR_SECONDARY: #2d9fe9;

/* Misc Colors */


// ------------------------------------------------------------------------
// Site Variables
// ------------------------------------------------------------------------
$SCREEN_WIDTH_SM: 328px;
$SCREEN_WIDTH_MD: 767px;
$SCREEN_WIDTH_LG: 1027px;

// ------------------------------------------------------------------------
// Icons
// ------------------------------------------------------------------------

