*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    @include border-box;
}

a,
a:visited {
  color: $COLOR_PRIMARY;
  text-decoration: none;
}

a:hover {
    color: $COLOR_SECONDARY;
    text-decoration: underline;
    @include transition(all, .12s);
}

ul {}
ol {}
img { max-width: 100%; }
p {}

mark {}
del {}
s {}
ins {}
u {}
small {}
strong {}
em {}


