// ------------------------------------------------------------------------
// Page
// ------------------------------------------------------------------------
.page {
  font-size: $BASE_FONT_SIZE;
  font-family: $FONT;
  letter-spacing: 1px;
  line-height: 1.2;
}

.page-hd {}

.page-bd {}

.page-ft {}
