<li>
    <div class="excerpt">
        <div class="excerpt-hd">
            <h2><%= @post.title %></h2>
        </div>
        <div class="excerpt-bd">

        </div>
        <div class="excerpt-ft">

        </div>
    </div>
</li>