<li>
    <div class="excerpt">
        <div class="excerpt-hd">
            <h2 class="hdg"><%= link_to post.title, post %></h2>
        </div>
        <div class="excerpt-bd">
            <%= post.body %>
        </div>
        <div class="excerpt-ft">

        </div>
    </div>
</li>