<h1>Recent Posts</h1>
<ul class="vlist">
    <% @posts.each do |post| %>
        <li>
            <div class="excerpt">
                <div class="excerpt-hd">
                    <h2 class="hdg"><%= post.title %></h2>
                </div>
                <div class="excerpt-bd">
                    <%= post.body %>
                </div>
                <div class="excerpt-ft">

                </div>
            </div>
        </li>
    <% end %>
</ul>
