<li>
    <div>
        <div>
          <%= link_to image_tag(image.attachment.url(:thumb)), image_path(image), class: 'js-thumbnailTrigger', :data => { :controller => 'thumbnailTrigger'  } %>
        </div>
        <div>
          <%= image.name %>
        </div>
        <div>
          <%= image.description %>
        </div>
    </div>
</li>
