<div class="grid-col grid-col-md_6of6">
  <ul class="hlist">
    <li>
      <h2 class="hdg">Images#index</h2>
    </li>
    <li>Add Image to Gallery</li>
  </ul>
  <div>
    ##gallery placeholder##
  </div>
</div>
