<div class="page-hd">
    <h1 class="hdg hdg_1">
        <%= link_to "OurFamily", root_path %>
    </h1>

    <ul class="hlist">
        <li><%= link_to "Posts", posts_path %></li>
        <li><%= link_to "New Post", new_post_path %></li>
    </ul>
</div>