<!DOCTYPE html>
<html>
<head>
  <title>OurFamily</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="wrapper">
        <div class="page">
            <div class="page-hd"></div>
            <div class="page-bd">
                <%= yield %>
            </div>
            <div class="page-ft"></div>
        </div>
    </div>


<%= debug(params) if Rails.env.development? %>
</body>
</html>
